@@media query {

}

.Cuadro {
  background-image: url("Cuadro.pn");
  position: absolute;
  left: 19px;
  top: 572px;
  width: auto;
  height: auto;
  z-index: 7;
}
.Piano {
  background-image: url("Piano.pn");
  position: absolute;
  left: 0px;
  top: 591px;
  width: 417px;
  height: 149px;
  z-index: 6;
}
.Mueble {
  background-image: url("Mueble.pn");
  position: absolute;
  left: 14px;
  top: 610px;
  width: 801px;
  height: 470px;
  z-index: 5;
}
.Guitarra {
  background-image: url("Guitarra.pn"); /*No tiene la imagen bien puesta porque si la pones causa problema en el momento que usas el hover*/
  position: absolute;
  left: 60px;
  top: 78px;
  width: 104px;
  height: 501px;
  z-index: 8;
}
.Cama {
  background-image: url("Cama.pn");
  position: absolute;
  left: 137px;
  top: 404px;
  width: 392px;
  height: 237px;
  z-index: 9;


}
.Muebles {
  background-image: url("Muebles.pg");
  position: absolute;
  left: 598px;
  top: 662px;
  width: 275px;
  height: 181px;
  z-index: 10;
}
.Cosas_en_los_muebles {
  background-image: url("Cosas en los muebles.ng");
  position: absolute;
  left: 597px;
  top: 621px;
  width: 261px;
  height: 93px;
  z-index: 11;
}
.Pizarron {
  background-image: url("Pizarron.png");
  position: absolute;
  left: 68px;
  top: 396px;
  width: 43px;
  height: 82px;
  z-index: 12;
}
.Guitarra_y_silla_mamalona {
  background-image: url("Guitarra y silla mamalona.pg");
  position: absolute;
  left: 933px;
  top: 507px;
  width: 193px;
  height: 517px;
  z-index: 13;
}
.Litera_y_Cosas_arriba {
  background-image: url("Litera y Cosas ariba.png");
  position: absolute;
  left: 966px;
  top: 306px;
  width: 181px;
  height: 325px;
  z-index: 14;
}
.mesas_ {
  background-image: url("mess .png");
  position: absolute;
  left: 1007px;
  top: 529px;
  width: 675px;
  height: 433px;
  z-index: 15;
}
.Silla_uwu {
  background-image: url("Silla uu.png");
  position: absolute;
  left: 1333px;
  top: 784px;
  width: 314px;
  height: 296px;
  z-index: 16;
}
.Fondo {
  background-image: url("Fondo.png");
  position: absolute;
  left: 82px;
  top: 0px;
  width: 1657px;
  height: 1080px;
  z-index: 3;
}
.Ropa {
  background-image: url("Ropa.png");
  position: absolute;
  left: 604px;
  top: 784px;
  width: 200px;
  height: 281px;
  z-index: 10;
}
.Cama img:hover{
  background-image: url("Cama.gif");
/* #esto no sirve para nada en este hover, supongo que en los demas tampoco, creo que deberia borrarlo para que sea un programa mas limpio*/
  position: relative;
  transition: 300ms;
  transform: translate(15px, -0px);
  width: 392px;
  height: 237px;
  z-index: 9;
  transition: all 300ms;
}
.Guitarra img:hover{
  background-image: url(Guitarrac.png);
  position: absolute;
  transition: 300ms;
  transform: translate(15px, -0px);
  width: 104px;
  height: 501px;
  z-index: 8;
}
.Cuadro img:hover{
  background-image: url(Cuadroc.png);
  position: absolute;
  transition: 300ms;
  transform: translate(3px, -5px);
  width: 295px;
  height: 33px;
  z-index: 7;
}
.Piano img:hover{
  background-image: url(Pianoc.png);
  position: absolute;
  transition: 300ms;
  transform: translate(5px, -7px);
}
.Mueble img:hover{
  background-image: url(Mueblec.png);
  position: absolute;
  transition: 300ms;
  transform: translate(7px, -7px);
  z-index: 10;
}
.Ropa img:hover{
  background-image: url(Ropac.png);
  position: absolute;
  transition: 300ms;
  transform: translate(7px, -7px);
}
.Muebles img:hover{
  background-image: url(mueblesc.png);
  position: absolute;
  transition: 300ms;
  transform: translate(7px, -7px);
}
.Cosas_en_los_muebles img:hover{
  background-image: url("Cosas en los muebes.png");
  position: absolute;
  transition: 300ms;
  transform: translate(7px, -7px);
}
.Guitarra_y_silla_mamalona img:hover{
  background-image: url("Guitarra y silla mamalona.png");
  position: absolute;
  transition: 300ms;
  transform: translate(10px, -10px);
}
.mesas_ img:hover{
  background-image: url("mesasc.png");
  position: absolute;
  transition: 300ms;
  transform: translate(15px, -15px);
}
.Litera_y_Cosas_arriba img:hover{
  background-image: url("Cosas en los mueblesc.png");
  position: absolute;
  transition: 300ms;
  transform: translate(7px, -10px);
}
.Silla_uwu img:hover{
  background-image: url("Silla uwu.png");
  position: absolute;
  transition: 300ms;
  transform: translate(7px, -7px);
}
.Menu {
  background-image: url("Men.png");
  position: absolute;
  left: 1709px;
  top: 0px;
  width: 211px;
  height: 1080px;
  z-index: 11;
}
.Menu img:hover {
  background-image: url(Menuc.png);
  position: absolute;

}
.Boton {
  background-image: url("Boto.png");
  position: absolute;
  left: 1761px;
  top: 248px;
  width: 108px;
  height: 69px;
  z-index: 12;
}
.Boton img:hover{
  background-image: url("Botonc.png");
  background-repeat: no-repeat;
  background-size: 140px, 100px;
  position: absolute;
  width: 140px;
  height: 100px;
  transition: 300ms;
  transform: translate(0px, -7px);
}
.Boton_2 {
  background-image: url("wasa.png");
  position: absolute;
  left: 1761px;
  top: 124px;
  width: 108px;
  height: 69px;
  z-index: 13;
}
.Boton_2 img:hover{
  background-image: url("Botonc2.png");
  background-repeat: no-repeat;
  background-size: 140px, 100px;
  position: absolute;
  width: 140px;
  height: 100px;
  transition: 300ms;
  transform: translate(0px, -7px);
}
.Boton_3 {
  background-image: url("Boton.png");
  position: absolute;
  left: 1761px;
  top: 371px;
  width: 108px;
  height: 69px;
  z-index: 14;
}
.Boton_3 img:hover{
  background-image: url("Botonc3.png");
  background-repeat: no-repeat;
  background-size: 140px, 100px;
  position: absolute;
  width: 140px;
  height: 100px;
  transition: 300ms;
  transform: translate(0px, -7px);
}
.Boton_4 {
  background-image: url("Boton 4.png");
  position: absolute;
  left: 1761px;
  top: 495px;
  width: 108px;
  height: 69px;
  z-index: 15;
}
.Boton_4 img:hover{
  background-image: url("Botonc4.png");
  background-repeat: no-repeat;
  background-size: 140px, 100px;
  position: absolute;
  width: 140px;
  height: 100px;
  transition: 300ms;
  transform: translate(0px, -7px);
}
